.playlist-image {
  width: 230px;
}

.playlist-title-container {
  display: flex;
}

.playlist-info-container {
  padding-left: 20px;
  position: relative;
  top: 70px;
}

.created-by {
  font-size: 13px;
  font-family: 'Proxima Thin', Georgia, sans-serif;
  color: #aaa;
  padding: 8px 0;
}

.lighter-text {
  color: #fff;
  font-family: 'Proxima Nova', Georgia, sans-serif;
}

.playlist-text {
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'Proxima Thin', Georgia, sans-serif;
}

.header-title {
  font-size: 48px;
  padding: 3px 0 5px 0;
}

.browse-headers {
  display: flex;
}

.browse-headers p {
  color: rgb(179, 179, 179);
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Proxima Thin', Georgia, sans-serif;
  letter-spacing: 1px;
  margin: 0 20px;
  cursor: pointer;
}

.browse-headers p:first-child {
  margin: 0 20px 0 0;
}

.browse-headers p:hover {
  color: #fff;
}

.browse-headers .active {
  position: relative;
}
.browse-headers .active:after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #1db954;
  left: 50%;
  width: 35px;
  top: 22px;
  transform: translate(-50%, -50%);
}
